/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 ul.nav {
 	padding-bottom: 1em;
 }
 
 #wpfooter {
 	bottom: 0px !important;
 }
 
 .vmat-quick-link {
 	white-space: nowrap;
 }
 
 .row {
 	padding-top: 2px;
 	padding-bottom: 2px;
 }
 
 #vmat_organizations_checklist, #vmat_funding_streams_checklist {
 	min-height: 42px;
 	max-height: 200px;
 	overflow: auto;
 	padding: 0 .9em;
 }
 
 #event_volunteers_added_status .notice {
 	margin: 0px;
 	white-space: nowrap;
 	text-overflow: truncate,
 }
 
 .vmat-action-in-progress {
 	background-color: #ddd;
 }
 
.waiting {
 	cursor: wait !important;
 }
 
 .vmat-form-label {
 	text-align: right;
 }
 
 .vmat-form-field {
 	text-align:left;
 }
 
 input.vmat-form-field:valid, .vmat-form-field input:valid {
 	outline-color: black;
 }
 
 input.vmat-form-field:invalid, .vmat-form-field input:invalid {
 	outline-color: red;
 }

 div.row.vmat-hr {
 	border-style: none none solid none;
 }
 
 input.vmat-check-before-save-changed:valid {
 	background-color: #dfd;
 }
 
 input.vmat-check-before-save-changed:invalid {
 	background-color: #fdf;
 }
 
 input.vmat-input-error {
 	border-color: red;
 }

 
 .widefat thead td.vmat-manage-column {
 	padding: 11px 0 0 3px;
 	vertical-align: top;
}
 
 .widefat thead td.vmat-check-column {
 	padding: 11px 0 0 3px;
 	width: 2.2em;
	vertical-align: top; 
}

#vmat_admin_nav {
	position: -webkit-sticky;
  	position: sticky;
  	top: 35px;
  	z-index: 1;
  	background-color: #eee;
  	border-radius: 5px;
  	border-color: #007bff;
  	border-style: solid;
  	border-width: 1px;
}

#vmat_admin_nav ul {
	padding-bottom: 0px;
}

#vmat_admin_nav li {
	margin-bottom: 0px;
}